<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PUDDLE {% block title %} {% endblock %}</title>
    <script src="https://cdn.tailwindcss.com"></script>

</head>
<body>

    <nav class="p6 flex justify-between bg-gray-100 border-gray-100 py-6">
        <a href="/" class="p-4">PUDDLE</a>

        
        <a href="{% url 'core:login' %}">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5.121 17.804A13.937 13.937 0 0112 16c2.5 0 4.847.655 6.879 1.804M15 10a3 3 0 11-6 0 3 3 0 016 0zm6 2a9 9 0 11-18 0 9 9 0 0118 0z" />
            </svg>
        </a>

        <div class="p-4">
            {% if user.is_authenticated %}

            <a href="{% url 'item:new' %}" class="bg-teal-500 rounded-xl p-2 text-white hover:bg-gray-300 text-black">New Item</a>
            <a href="{% url 'dashboard:index' %}" class="bg-black rounded-xl p-2 text-white hover:bg-gray-300 text-black">Dashboard</a>
            <a href="{% url 'conversation:inbox' %}" class="bg-teal-500 rounded-xl p-2 text-white hover:bg-gray-300 text-black">Inbox</a>


            {% else %}
            <a href="{% url 'core:login' %}" class="bg-teal-500 rounded-xl p-2 text-white hover:bg-gray-300 text-black">Login</a>
            <a href="{% url 'core:signup' %}" class="bg-black-500 rounded-xl p-2 text-white hover:bg-gray-300 text-black">SignUp</a>
            <a href="{% url 'item:items' %}" class="bg-black rounded-xl p-2 text-white hover:bg-gray-300 text-black">Browse</a>

            {% endif %}



        </div>
        
    </nav>

    {% block content %}


    {% endblock %}




</body>
</html>